<div class="mb-3">
  <input [(ngModel)]="filterColor" type="text" class="form-control" id="filterColor" style="background-color:#3F3F3F; color:white;" placeholder="Renk giriniz.">
</div>
<ul class="list-group">
  <li  class="list-group-item"  [style]="getAllColorStyle()" (click)="setClearCurrentColor()" routerLink="/cars">Tüm Renkler<button  *ngIf="checkAdmin()"  routerLink="/coloredit" class="fas fa-cog"></button></li>
  <li
    (click)="setCurrentColor(color)"
    [style]="getCurrentStyle(color)"
    class="list-group-item"
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | colorPipe:filterColor"
  >
    {{ color.colorName }}
  </li>
</ul>
