
<div *ngIf="car">
<h1>{{car.brandName}} {{car.carName}}</h1>
<div class="row" style="height:656px;">
<div class="col-md-8">
  <div class="card">
  <div class="row g-0" style="padding:20px; padding-bottom: 20px;">
    <div class="image" style="margin-bottom: 20px;">
        <div  id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button *ngFor="let image of carImages;let i = index" type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{i}}" [class]="getButtonClass(image)" aria-current="true" aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div *ngFor="let image of carImages" [class]="getCurrentImageClass(image)">
              <img src="{{apiUrl+image.imagePath}}" alt="Image" class="d-block ">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>

    <div class="col-md-4">
    <div class="text">
      <div class="card-body">
        <h5 class="card-title"><strong>Araç Bilgileri</strong></h5>
        <p class="card-text"><strong>Yakıt-Vites:</strong>{{car.description}}</p>
        <p class="card-text"><strong>Renk:</strong>{{car.colorName}}</p>
        <p class="card-text"><strong>Model Yılı:</strong>{{car.modelYear}}</p>
        <p class="card-text"><strong>Günlük Ücret:</strong>{{car.dailyPrice}}₺</p>
        <p class="card-text"><strong>Gerekli Findex Puanı:</strong>{{car.minFindex}}</p>
        </div>
      
    </div>
  </div>
  </div>


  
</div>
</div>
 <div class="rentable">
  <button style="width:150px; position:absolute; top: 130px; right: 350px;  " *ngIf="rentable" routerLink="/rental/{{ car.carId }}"  type="button" class="mybtn btn">Kirala</button>
  <div style="margin-top: 10px; position:absolute; top: 130px; right:535px; color: red;" class="fas fa-exclamation-circle" *ngIf="!rentable">
  Araç kiralanmaya uygun değil.
  </div>
</div>
</div>

<!-- <div *ngIf="car" class="col-lg-7 mx-auto">
  <button *ngIf="!car" class="btn btn-primary" routerLink="/cars/update/{{carId}}">Güncelle</button>
  <div
  id="carImageSlide"
    class="carousel slide carousel-fade col-md-8"
    data-bs-ride="carousel"
  >
    <div
      class="carousel-inner d-flex"
      style="height: 50vh; min-height: 20rem; max-height: 30rem"
    >
      <div
        *ngFor="let image of carImages; index as i; first as firstImage"
        class="carousel-item align-self-center"
        [ngClass]="{ active: firstImage }"
        style="height: 100%; width: 100%"
      >
        <img
          [src]="imageUrl + image.imagePath"
          class=""
          style="height: 100%; width: 100%"
          [alt]="image.imagePath"
        />
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carImageSlide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carImageSlide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <table *ngIf="car" class="col-md-4" >
      <tbody>
        <tr>
          <th scope="row">Marka</th>
          <td>{{ car.brandName }}</td>
        </tr>
        <tr>
          <th scope="row">Model</th>
          <td>{{ car.carName }}</td>
        </tr>
        <tr>
          <th scope="row">Renk</th>
          <td>{{ car.colorName }}</td>
        </tr>
        <tr>
          <th scope="row">Fiyat</th>
          <td>
            {{
              car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"
            }}/Gunluk
          </td>
        </tr>
        <tr>
          <th scope="row">Model Yılı</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Aciklama</th>
          <td>{{ car.description }}</td>
        </tr>
      </tbody>
    </table>


    <div class="card-body d-grid gap-2 mx-auto">
     
 
     <div *ngIf="car.minFindex<=userFindex">
      <div *ngIf="rentable" class="btn-group me-2">
        <button
          type="button"
          routerLink="/rental/{{ car.carId }}"
          class="btn btn-dark text-center"
        >
          Kirala
        </button>
      </div>
      
      <h5 *ngIf="!rentable" style="color:white" >
        Araç şuanda kiralanamaz.
      </h5>
    </div>
   
      <h5>
    Findex Puanı Yetersiz
      </h5>
  
</div>

  </div>
</div> -->
