li:hover{
  cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity:0.3; /* Firefox */
}
.fas{
float: right;
background-color: transparent;
border: none;
color: #0d6efd;
margin-top: 3px;
}
.fas:hover{
  color: red;
  transform: scale(1.7);
}
