li:hover{
  cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity:0.3; /* Firefox */
}
.fas{
float: right;
background: cyan;
border: none;
}
.fas:hover{
  background:red;

 
}