<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>
<body class="text-center">
    
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <h1 class="h3 mb-3 fw-normal">Üye Ol</h1>
        <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    
        <div class="form-floating">
          <input formControlName="firstName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Ad</label>
        </div>
        <div class="form-floating">
            <input formControlName="lastName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Soyad</label>
        </div>
        <br>
        <div class="form-floating">
            <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Parola</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Beni hatırla
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" (click)="register()">Üye Ol</button>
        <div class="mt-3">
          Zaten üye misiniz ? <a routerLink="/login" class="card-link">Giriş Yap</a>
        </div>
      </form>
    </main> 
</body>