<div class="row" style="height: 714px">
  <div class="col-75">
    <div class="container">
      <div class="cards" style="margin-bottom: 10px" *ngIf="cards && cards.length">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" style="background-color: black">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Kayıtlı Kartlarım
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body" style="background-color: #3f3f3f">
                <div class="row">
                  <ul class="list-group" style="margin-left:20px;">
                    <li
                      (click)="setCurrentCard(card)"
                      *ngFor="let card of cards"
                      class="list-group-item col-md-2"
                    >
                      <i class="fas fa-credit-card"></i> {{ card.cardNumber }}
                    </li>
                  </ul>
                </div>
                <div
                  *ngIf="currentCard"
                  class="alert  col-md-2"
                  style="
                    margin-top: 10px;
                    margin-left: 15px;
                    position: relative;
                    right: 10px;
                    background-color: #f5ca29;
                  "
                >
                  {{ currentCard.cardNumber }} numaralı kartı seçtiniz.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="paymentForm">
        <div *ngIf="!currentCard" class="row">
          <div class="col-50">
            <h3 style="color: #f5ca29">Ödeme</h3>
            <label for="cname">Kart Sahibinin Adı:</label>
            <input
              formControlName="cardOwner"
              type="text"
              id="cardOwner"
              name="cardname"
              placeholder="Salih Bora Öztürk"
            />
            <label for="ccnum">Kart Numarası:</label>
            <input
              formControlName="cardNumber"
              type="text"
              id="cardNumber"
              name="cardnumber"
              placeholder="1111-2222-3333-4444"
            />
            <div class="row">
              <label style="width: 200px" for="expmonth"
                >Son Kullanma Tarihi:</label
              >
              <label style="margin-left:50px; width: 100px" for="cvv"
                >CVV:</label
              >
            </div>

            <div class="row">
              <div class="month" style="width: 100px">
                <input
                  style="width: 80px; text-align: center"
                  formControlName="expirationMonth"
                  type="number"
                  id="expirationMonth"
                  name="expyear"
                  placeholder="Month"
                />
              </div>
              <a
                style="
                  position: absolute;
                  width: 100px;
                  margin-left: 88px;
                  color: white;
                "
                >/</a
              >
              <div style="width: 100px">
                <input
                  style="width: 80px; text-align: center"
                  formControlName="expirationYear"
                  type="number"
                  id="expirationYear"
                  name="expmonth"
                  placeholder="Year"
                />
              </div>
              <div class="cvv" style=" margin-left:50px;width: 100px">
                <input
                  style="width: 70px; text-align: center"
                  formControlName="cvv"
                  type="number"
                  id="cvv"
                  name="cvv"
                  placeholder="123"
                />
              </div>
            </div>

            <div class="row"></div>
          </div>
        </div>
      </form>
      <div *ngIf="!currentCard" style="margin-top: 10px" class="check">
        <div class="form-check form-switch">
          <input
            [(ngModel)]="isChecked"
            class="form-check-input"
            type="checkbox"
            id="isChecked"
            checked
          />
          <label class="form-check-label" for="isChecked"
            >Kredi kartımı kaydet</label
          >
        </div>
      </div>
      <button (click)="checkPayment()" class="btn">Ödeme Yap:{{amount}}₺</button>
    </div>
  </div>
</div>
