<div class="row" style="height: 697px">
  <div class="col-75">
    <div class="container">
      <form [formGroup]="paymentForm">
        <div class="row">
          <div class="col-50">
            <h3 style="color: #f5ca29">Ödeme</h3>
            <label for="cname">Kart Sahibinin Adı:</label>
            <input
              formControlName="cardOwner"
              type="text"
              id="cardOwner"
              name="cardname"
              placeholder="Salih Bora Öztürk"
            />
            <label for="ccnum">Kart Numarası:</label>
            <input
              formControlName="cardNumber"
              type="text"
              id="cardNumber"
              name="cardnumber"
              placeholder="1111-2222-3333-4444"
            />
            <label for="expmonth">Son Kullanma Tarihi:</label>
            <div class="row">
              <div class="month">
                <input
                  style="width: 80px; text-align: center"
                  formControlName="expirationMonth"
                  type="number"
                  id="expirationMonth"
                  name="expyear"
                  placeholder="Month"
                />
              </div>
              <a style="position: absolute; margin-left: 88px">/</a>
              <div>
                <input
                  style="
                    width: 80px;
                    text-align: center;
                    position: absolute;
                    top: 362px;
                    right: 1400px;
                  "
                  formControlName="expirationYear"
                  type="number"
                  id="expirationYear"
                  name="expmonth"
                  placeholder="Year"
                />
              </div>
            </div>
            <div
              class="col-25"
              style="position: absolute; top: 328px; right: 1250px"
            >
              <label for="cvv">CVV:</label>
              <input
                style="width: 70px; text-align: center"
                formControlName="cvv"
                type="number"
                id="cvv"
                name="cvv"
                placeholder="123"
              />
            </div>

            <div class="row"></div>
          </div>
        </div>
      </form>
      <div style="margin-top: 10px" class="check">
        <div class="form-check form-switch">
          <input
            [(ngModel)]="isChecked"
            class="form-check-input"
            type="checkbox"
            id="isChecked"
            checked
          />
          <label class="form-check-label" for="isChecked"
            >Kredi kartımı kaydet</label
          >
        </div>
      </div>
      <button (click)="checkPayment()" class="btn">Ödeme Yap</button>
    </div>
  </div>
</div>
