<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<body class="text-center" style="height:714px;">
  <div  class="anahtar"> <img class="mb-4" src="\assets\images\anahtar.png" alt="" ></div>
  <main class="form-signin">
    <div class="login">
    <form [formGroup]="loginForm">
      <div class="logo"> <img class="mb-4" src="\assets\images\logo.png" alt="" > </div>
      <h1 style="margin-top:100px;color:#f5ca29;" class="h3 mb-3 fw-normal">Giriş Yap</h1>
      <br>
      <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  
      <div style ="width:75%;margin-left: 50px;" class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <br>
      <div style ="width:75%;margin-left: 50px;" class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Parola</label>
      </div>
  
      <div class="checkbox mb-3">
        <label style="color:white">
          <input  type="checkbox" value="remember-me"> Beni hatırla
        </label>
      </div>
      <div class="button">
      <button class="w-100 btn btn-lg " (click)="login()">Giriş Yap</button></div>
      <div class="mt-3" style="color:white">
        Üye değil misiniz ? <a routerLink="/register" class="card-link">Üye ol</a>
      </div>
    </form>
  </div>
  </main>
</body>