<div class="row" >
    <div class="col-md-4" >
        <select  style="background-color:#3F3F3F; color: white;" [(ngModel)]="currentBrand" class="form-select" aria-label="Default select example">
            <option [selected]="IsCurrentBrandNull()" [value]=undefined>Bir marka seçiniz</option>
            <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getCurrentBrand(brand)">{{brand.brandName}}</option>
          </select>
    </div>
    <div class="col-md-4">
        <select style="background-color:#3F3F3F;color: white;" [(ngModel)]="currentColor" class="form-select" aria-label="Default select example">
            <option [selected]="IsCurrentColorNull()" [value]=undefined>Bir renk seçiniz</option>
            <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getCurrentColor(color)">{{color.colorName}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <button [routerLink]="GetRouterLink()" type="button" class="btn btn-primary">Filtrele</button>
    </div>
</div>
